#work{
    background-color: #F4F6FC;
    padding: 100px 0;
}
.work_hxpa h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
    font-family: "Poppins", sans-serif;
}
.work_hxpa p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    text-align: justify;
}
.work_a a{
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #2405F2;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
.work_imxhp h3{
    font-weight: 500;
    font-size: 33px;
    line-height: 48px;
    color: #282938;
    font-family: "Poppins", sans-serif;
}